<ion-header>
 
  <ion-toolbar>
    <ion-buttons>
      <ion-button [routerLink]="['/tab/home']">
        <ion-icon  slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  

  <ion-list>
    <main>
      <div id="moncercle" class="pod"></div>
      <div>
        <ion-card-header>
      
          <ion-card-title>Prime</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
          <p>yo</p>
        </ion-card-content>
        <ion-card-subtitle>Le 15 juin 2015 à 19:15</ion-card-subtitle>
      </div>
   
    </main>
  </ion-list>
  
  
</ion-content>

