<ion-header>
 
  <ion-toolbar>
    <!-- <ion-buttons>
      <ion-button [routerLink]="['/tab/home']">
        <ion-icon  slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  
  <ion-item *ngFor="let notification of this.notif">
    <ion-list  (click)="readNotifications()">
      <main>
        <div id="moncercle" class="pod" style=" border:2px solid #679403;" [ngStyle]="{background:couleur}"></div>
        <div >
          <ion-card-content>
            <p>{{notification.data.message}}</p>
          </ion-card-content>
          <ion-card-subtitle>{{notification.updated_at}}</ion-card-subtitle>
          
        </div>
     
      </main>
    </ion-list>
  </ion-item>
 
  
  
</ion-content>

