<ion-header>

</ion-header>

<ion-content fullscreen="true">
  <div style="display: flex; justify-content:center;">
    <div class="container-image d-flex ion-justify-content-center " >
      <ion-img src="assets/img/imgLogin.png"></ion-img>
    </div>
  </div>
  <div style="text-align: center;">
    <h1>Bienvenue sur Confidenz</h1>
    <span>Entrez vos informations pour vous connecter</span>
  </div>
  <form class="container-form" style="margin-top: 8px;" [formGroup]="loginForm"  (ngSubmit)="onSubmit()">
    <div style="margin-bottom: 16px;">
      <label> Email</label>
      <ion-input class="input" aria-label="Custom input"  mode="ios" style="margin-top: 8px; padding: 0px 10px !important;" placeholder="exemple@example.com" formControlName="email" type="email">
      </ion-input>
      <div class="mb-3"  *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
        <div *ngIf="loginForm.controls['email'].errors?.['required']" style="margin-top: 8px !important;">
            Ce champ est obligatoire.
        </div>
        <div *ngIf="loginForm.controls['email'].errors?.['email']" style="margin-top: 8px !important;">
            Mauvaise adresse mail.
        </div>
    </div>
    </div>
    <div class="mt-5">
      <label> Mot de passe</label>
      <main>
        <ion-input class="input" type="password" required mode="ios" formControlName="password" style="margin-top: 8px; padding: .0px 10px !important;">
          <!-- [disabled]="!validationFormUser.valid" --> 
          <!-- <ion-icon name="lock-closed-outline" class="icon"></ion-icon -->
        </ion-input>
        <!-- <ion-icon class="icon2"  (click)="showPassword = !showPassword" [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon> -->
      </main>
     
      
      <div class="mb-3" *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
        <div *ngIf="loginForm.controls['password'].errors?.['required']" style="margin-top: 8px !important; color: red;">
          Ce champ est obligatoire.
        </div>
      </div>
    </div>
   
    <div class="button-container">
      <ion-button type="submit" color="tertiary" expand="block" mode="ios" style="width: 100%; letter-spacing: 2px;" *ngIf="!loader">SE CONNECTER</ion-button>
      <div class="divcentr">
        <ion-spinner color="primary-confidenz" mode="ios" *ngIf="loader" duration ="10"></ion-spinner>
       
      </div>
      
    
    </div> 
    <br>
    <div class="mb-3">
      <div *ngIf="this.log==true" style="margin-top: 8px !important; color: red;">
        Mot de passe ou Email invalide. Veuillez reessayer.
      </div>
    </div>
  </form>
</ion-content>
