ion-content{
    --background:  var(--ion-color-confidenz-background);
}

h3{
    font-size: 16px;
    font-weight: 700;
}
.img-doc{
    width: 60px;
    height: 60px;
}
ion-card{
    
    margin: 5px;
    height: 190px;
    width: 149px;
}

ion-badge{
    background: var(--ion-color-primary-confidenz);
}
.contener-list ion-card{
    margin-bottom: 16px;
    
    
}
ion-icon{
    color:var(--ion-color-primary-confidenz) ;
}

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  ion-skeleton-text {
    --border-radius: 9999px;
    --background: rgba(188, 0, 255, 0.065);
    --background-rgb: 188, 0, 255;
  }
  .header0{
    display:flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}

.arrange{
    flex: display;
    flex-direction: row;
}
.fw-bold a{
    text-decoration: none;
    color: var(--ion-color-primary-confidenz);
}